doctype
html
  head
    title #{title} - Fundera
    link(rel='stylesheet', href='/css/base.css')
  body
    header
    .grid-container
      block content
    footer
      p Created by Stephen Buckley
